<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Website</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        @font-face {
            font-family: bangla;
            src: url(font/SolaimanLipi.ttf);
        }
        .bangla{
            font-family: bangla;
        }
        .bg-bod {
            background-image: url("img/44444.jpg");
            /* background-repeat: no-repeat; */
            background-attachment: fixed;
          } 
    </style>


</head>

<body class="bg-bod">
    <header >
        <div class="header mb-0">
            <div class="bg-success py-2">
                <div class="row">
                    <div class="col-2">
                        <div class="container">
                            <div>
                                <img class="ms-lg-0 ps-lg-0 pt-1" src="img/logo.png" width="60px" alt="" srcset="">
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-8 ps-2 ms-3 ps-lg-0 ms-lg-0"><h2 class="text-center text-white bangla ">মিরপুর পলিটেকনিক ইন্সটিটিউট</h2>
                        <span class="d-flex justify-content-center text-white bangla">মিরপুর, ঢাকা</span>
                    </div>
                    <!-- <div class="col-2">
                        <div class="navbar-section navbar navbar-dark navbar-expand-md">
                            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav1">
                                <span class="bi bi-three-dots-vertical display-4 text-white"></span>
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="">     
                <nav class="bangla navbar navbar-expand-lg navbar-light navcol rounded" aria-label="Twelfth navbar example">
                    


                    <div class="container-fluid">
                        <a class="navbar-brand text-success d-flex text-sm-center" href="#"><i class="bi bi-house-door-fill px-1"></i>হোম পেজ</a> 
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav1" >
                            
                          <span class="navbar-toggler-icon"></span>
                        </button>
                    


                      <div class="collapse navbar-collapse justify-content-md-center text-center" id="nav1">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">নোটিশ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">গ্যালারি</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">স্টুডেন্ট ডাটাবেস</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">শিক্ষক ডাটাবেস</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">হেল্প</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active" href="#">আরও</a>
                        
                          </li>
                    
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">অন্যান্য</a>
                            <ul class="dropdown-menu text-center" aria-labelledby="dropdown10">
                              <li><a class="dropdown-item " href="#">খেলাধুলা</a></li>
                              <li><a class="dropdown-item" href="#">সাংস্কৃতিক অনুষ্ঠান</a></li>
                              <li><a class="dropdown-item" href="#">বিভিন্ন প্রতিযোগিতা</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
           

        </div>



        

        <!--  -->
        
        
   
        <!--  -->

           
    </header>
    <main>
        
        <div class=" mb-2 ">
            <div class="d-flex justify-content-between align-items-center breaking-news bg-success text-white">
            <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-3 text-white px-1 news"><span class="d-flex align-items-center bangla">বিশেষ নোটিশ</span></div>
            <marquee  class="bg-success text-white pt-3 pb-2 bangla news-scroll" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()" direction="left">
                <h5> &#x261E পবিত্র ঈদ-উল আযহার জামাত প্রসঙ্গে। &#x261E ২০২০-২০২১ শিক্ষাবর্ষে ১ম পর্বে ভর্তিকৃত (সকল টেকনোলজি) শিক্ষার্থীদের অনলাইন ক্লাস লিংকঃ   ২য় পর্ব সমাপনী পরীক্ষার চুড়ান্ত ফলাফল-২০২০ (সকল টেকনোলজি)   উপবৃত্তি ও MIS সফটওয়্যারে চাহিত তথ্য অনলাইনে পূরণ সংক্রান্ত বিজ্ঞপ্তি।   উপবৃত্তি সংক্রান্ত বিজ্ঞপ্তি।</h5>
            </marquee>
        </div>
    </div>

                
            
                  
            
                    {% comment %} left side main things start from here {% endcomment %}

        <div class="row">
            <div class="col-lg-8 col-lg-8 ">
                <div class="container-fluid pe-lg-0"> 
                    <img class="" src="img/download.jpg" width="100%" alt="">
                    <h4 class="py-2 text-center border bg-white bangla">করোনাভাইরাস মোকাবিলায় মাননীয় প্রধানমন্ত্রীর ৩১ নির্দেশনা</h4>
                <div class="jumbo bangla">
                    <div class="">
                        <img src="{img/bg-notice-board.png" width="150px" class="text-right float-end pt-0 ps-0">
                    </div>
                    <div class="liste container py-4">
                        
                        <h4>নোটিশ বোর্ড</h4>
                        <ul class="list">
                            <li>পবিত্র ঈদ-উল আযহার জামাত প্রসঙ্গে। </li>
                            <li>ফরম ফিলাপ প্রসঙ্গে বিজ্ঞপ্তি।</li>
                            <li>পবিত্র ঈদ-উল আযহা প্রসঙ্গে নোটিশ</li>
                            <li>উপবৃত্তি সংক্রান্ত নোটিশ (ব্লকড একাউন্ট)</li>
                            <li>অনলাইন বেতন নির্ধরণ বেতন নির্ধারণ 2022 প্রসঙ্গে (সকল কর্মচারী)</li>
                        </ul>
                        <div class="pb-4">
                            <button class="text-right btn btn-primary btn-sm float-end">
                                সকল নোটিশ
                            </button>
                        </div>
                      
                    </div>
                </div>

                <!-- amader dristi start -->
                <div class="bg-success pt-3 ps-2 pb-1 mt-3">
                    <h5 class="text-white bangla">আমাদের দৃষ্টিঃ-</h5>
                </div>
                <p class="bg-light border text-danger mt-1 py-2 text-center bangla">
                    “ বিশ্ব বাজারের জন্য শ্রেষ্ঠ মানের আউটপুট। ”</p>
                <!-- amader dristi end -->

                <!-- amader lokko start -->
                <div class="bg-success pt-3 ps-2 pb-1 mt-1">
                    <h5 class="text-white bangla">আমাদের লক্ষ্যঃ-</h5>
                </div>
                <p class="bg-light border text-success mt-1 py-2 text-center bangla">
                    “ বাংলাদেশের প্রযুক্তিগত এবং আর্থ সামাজিক উন্নয়নে অবদান রাখার জন্য ব্যাপকভাবে শিল্পের সঙ্গে মান সম্মত শিক্ষা ও প্রশিক্ষণ, সঠিক নির্দেশনা এবং পরামর্শ, সহযোগিতা প্রদানের মাধ্যমে '--' পলিটেকনিক ইন্সটিটিউটকে স্বনির্ভরশীল প্রমাণ করা। ”</p>
                <!-- amader lokko end -->

                <!-- amader porichiti start -->
                <div class="bg-success pt-3 ps-2 pb-1 mt-1 ">
                    <h5 class="text-white bangla">পরিচিতিঃ-</h5>
                </div>
                <p style="text-align:justify;" class="bg-light py-2 bangla ">বগুড়া পলিটেকনিক ইন্সটিটিউট গণপ্রজাতন্ত্রী বাংলাদেশ সরকারের শিক্ষা মন্ত্রনালয়ের কারিগরি শিক্ষা অধিদপ্তরাধীন একটি সরকারী শিক্ষা প্রতিষ্ঠান। এতে বাংলাদেশের কারিগরি শিক্ষা বোর্ড কর্তৃক ৪ বছরের ডিপ্লোমা-ইন-ইঞ্জিনিয়ারিং শিক্ষা কার্যক্রম পরিচালিত হয়। ঐতিহ্যবাহী বগুড়া শহরের প্রবেশ পথে বগুড়া পুলিশ লাইন্স-এর বিপরীতে শেরপুর রোডে শোভনীয় দালান কোঠায় সজ্জিত ঐতিহ্যবাহী বগুড়া পলিটেকনিক ইন্সটিটিউট অবস্থিত। ১৯৬২ সালে বগুড়া শহরের কেন্দ্রস্থলে ( সাত মাথায় ) তদানিন্তন এডওয়ার্ড ইন্ডাষ্ট্রিয়াল স্কুলের প্রাচীর ঘেরা ভবনে ইন্সটিটিউট এর কার্যক্রম শুরু হয়। সিভিল ও পাওয়ার টেকনোলজি নিয়েই যাত্রা শুরু করেছিল এই প্রতিষ্ঠানটি।

                    পরবর্তিতে কারিগরি শিক্ষার প্রসারতার লক্ষ্যে বগুড়া পলিটেকনিক ইন্সটিটিউট নামকরণে শেরপুর রোডের বর্তমান ভোকেশনাল টিচার্স ট্রেনিং ইন্সটিটিউট ক্যাম্পাসে বিভিন্ন টেকনোলজির সমন্বয়ে ইন্সটিটিউট স্থানান্তর করা হয় এবং ১৯৭৭ সালে বর্তমান ক্যাম্পাসে ইন্সটিটিউটের যাত্রা শুরু হয়। সরকারী সিদ্ধান্তের আলোকে পরবর্তীতে আরও টেকনোলজির সংজোযন করা হয়। বিশ্ব-ব্যাংকের আইডিএ ক্রেডিটের অধীনে নির্মিত হয় বর্তমান অবকাঠামো।
                    
                    বগুড়া পলিটেকনিক ইন্সটিটিউট সবুজ ছায়া ঘেরা বৃক্ষরাজীতে পরিবেষ্ঠিত এবং ইন্সটিটিউটের একাডেমিক কাম প্রশাসনিক ভবনের সামনে আলোক সজ্জায় সজ্জিত ফোয়ারা সম্বলিত মনোমুগ্ধকর ফুলের বাগান অবস্থিত। ১৮ একর জমির উপর নির্মিত এ প্রতিষ্ঠানটিতে ৩ তলা সুরম্য ভবন সমূহের একাডেমিক কাম প্রশাসনিক ভবন, আবাসিক ভবন, ছাত্রাবাস, ছাত্রীনিবাস ইত্যাদির সন্নিবেশ ঘটেছে। ইন্সটিটিউটের প্রবেশ পথের গেটে, একাডেমিক কাম প্রশাসনিক ভবনের গেটে এবং ছাত্রাবাসসমূহ ও ছাত্রীনিবাসের প্রবেশের গেটসমূহে রয়েছে সুসজ্জিত তরুণ ও কর্তব্যনিষ্ঠ নিরাপত্তা প্রহরী, যারা সার্বক্ষনিক প্রয়োজনীয় যোগাযোগের মাধ্যমসহ নিরাপত্তা ও আগমনকারীদের তথ্য সংগ্রহ করেছে।</p>
                <!-- amader pirichiti end -->




                <div class="cardsection bg-cards liste">
                    <!-- <div class="container-fluid"> -->
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card my-3 py-2 navcol bangla">
                                    <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="">
                                                            <img src="img/logo.png" class="pt-4" width="60px" alt="">
                                                            <!-- <p class="align-self-center"> amir</p> -->
                                                        </div>
                                                </div>
                                                <div class="col-4">
                                                    <ul>
                                                        <li>নোটিশ</li>
                                                        <li>রেজাল্ট</li>
                                                        <li>বিবিধ</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>                  
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card my-3 py-2 navcol bangla">
                                    <h4 class="card-title ps-2 pb-0">ডিপ্লোমা পর্যায়</h4>
                                        <div class="card-body">
                                            <ul>
                                                <li>নোটিশ</li>
                                                <li>রেজাল্ট</li>
                                                <li>বিবিধ</li>
                                            </ul>
                                        </div>                  
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                
                

                
            


                <div class="cardsection bg-cards liste">
                    <!-- <div class="container-fluid"> -->
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card my-3 py-2 navcol bangla">
                                    <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                        <div class="card-body">
                                            <ul>
                                                <li>নোটিশ</li>
                                                <li>রেজাল্ট</li>
                                                <li>বিবিধ</li>
                                            </ul>
                                        </div>                  
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card my-3 py-2 navcol bangla">
                                    <h4 class="card-title ps-2 pb-0">ডিপ্লোমা পর্যায়</h4>
                                        <div class="card-body">
                                            <ul>
                                                <li>নোটিশ</li>
                                                <li>রেজাল্ট</li>
                                                <li>বিবিধ</li>
                                            </ul>
                                        </div>                  
                                </div>
                            </div>
                        </div>
                    </div>
                


                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card my-3 py-2 navcol bangla liste">
                            <h3 class="card-title ps-2">মাধ্যমিক পর্যায়</h3>
                                <div class="card-body">
                                    <ul>
                                        <li>নোটিশ</li>
                                        <li>রেজাল্ট</li>
                                        <li>বিবিধ</li>
                                    </ul>
                                </div>                  
                        </div>
                    </div>

                </div>
            </div>






            </div>

                {% comment %} main left side stop here {% endcomment %}

            
        

          

            




            <div class="col-lg-4">
                <div class="speech-section container-fluid ps-lg-0">
                <!-- <div class="container-fluid"> -->
                    <!-- <div class="row"> -->
                    <!-- <div class="col-md-3 col-lg-3"> -->
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">মাননীয় মন্ত্রী</h4>
                            <div class="card-body">
                                <img src="img/montri.jpg" width="100%" alt="">
                                <p class="card-text bangla pt-2 text-center">
                                    ডাঃ দিপু মনি (এম,পি)
                                </p>    
                                </div>
                        </div>
    
                    <!-- </div> -->
                    <!-- <div class="col-md-3 col-lg-3"> -->
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">শিক্ষা উপমন্ত্রী</h4>
                            <div class="card-body">
                                <img src="img/upmontri.jpg" width="100%" alt="">
                                <p class="card-text bangla pt-2 text-center">মহিবুল হাসান চৌধুরী, (এম, পি)</p>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="col-md-3 col-lg-3"> -->
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">শিক্ষা সচিব</h4>
                            <div class="card-body">
                                <img src="img/sochib.jpg" width="100%" alt="">
                                <p class="card-text bangla pt-2 text-center">কামাল হোসেন</p>
                            </div>
                        </div>
                    
                    <!-- <div class="col-md-3 col-lg-3"> -->
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">প্রধান শিক্ষক</h4>
                            <div class="card-body">
                                <img src="img/head.jpg" width="100%" alt="">
                                <p class="card-text bangla pt-2 text-center">আবু সাইম চৌধুরী(অধক্ষ)</p>
                            </div>
                        </div>
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">শিক্ষার্থীদের তথ্য</h4>
                            <div class="card-body">
                                <div class="input-group d-flex justify-content-center">
                                    <!-- <label for="form1" class="form-label">Search</label> -->
                                    <div class="form-outline">
                                        <input type="search" name="" id="form1" placeholder="Board Roll" class="form-control">
                                    </div>
                                    <button type="button" class="btn btn-success">
                                        <i class="bi bi-search"></i> SEARCH
                                    </button>
                                </div>
                                <!-- <img src="img/head.jpg" width="100%" alt="">
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione corporis, saepe accusamus quisquam quod, vel eum voluptas aut odio similique deleniti velit dignissimos recusandae vitae ullam maiores animi laboriosam blanditiis!</p> -->
                            </div>
                        </div>
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">গ্যালারি</h4>
                            <div class="card-body">
                                <!-- <img src="img/head.jpg" width="100%" alt=""> -->
                                <!-- <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione corporis, saepe accusamus quisquam quod, vel eum voluptas aut odio similique deleniti velit dignissimos recusandae vitae ullam maiores animi laboriosam blanditiis!</p> -->
                            </div>
                        </div>
                        <div class="card bangla">
                            <h4 class="card-title text-center py-3 text-white bg-success">গুরুর্ত্বপুর্ণ লিংকঃ</h4>
                            <div class="card-body">
                                <ul style="list-style: none; cursor: pointer">
                                    <li><i class="bi bi-link pe-2 text-success"></i>শিক্ষা মন্ত্রনালয়</li>
                                    <li><i class="bi bi-link pe-2 text-success"></i>কারিগরি শিক্ষা অধিদপ্তর</li>
                                    <li><i class="bi bi-link pe-2 text-success"></i>কারিগরি শিক্ষা অধিদপ্তর</li>
                                    <li><i class="bi bi-link pe-2 text-success"></i>কারিগরি শিক্ষা অধিদপ্তর</li>
                                    <li><i class="bi bi-link pe-2 text-success"></i>কারিগরি শিক্ষা অধিদপ্তর</li>
                                </ul>
                                <!-- <img src="img/head.jpg" width="100%" alt="">
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione corporis, saepe accusamus quisquam quod, vel eum voluptas aut odio similique deleniti velit dignissimos recusandae vitae ullam maiores animi laboriosam blanditiis!</p> -->
                            </div>
                        </div>
                        <div class="card bangla pb-1">
                            <h4 class="card-title text-center py-3 text-white bg-success">জাতীয় সংগীত</h4>
                            <div class="card-body d-flex justify-content-center">
                                <audio controls>
                                    <source src="audio/song.mp3" type="audio/mpeg">
                                </audio>
                                
                            </div>
                        </div>
                    <!-- </div> -->
                    </div>
                </div>
            </div>
        </div></div>
        </div>

        
        
        
    </main>
    <footer>
       <div class="container-fluid bg-light pt-2">
        <img src="img/22.png" width="100%" alt="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-light float-lg-start bangla text-muted">
                        <span class="me-2">অভিযোগ</span>
                        <span class="mx-2">যোগাযোগ</span>
                        <span class="mx-2">পরামর্শ</span>
                        
                        <h6 class="py-2">ডিজাইন ও ডেভেলপমেন্টঃ মোঃ আমির হামজা</h6>
                        <h6 class="pb-2">কপিরাইট &copy; ২০২৫ -- পলিটেকনিক ইন্সটিটিউট (ভার্সনঃ ১.০)</h6>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light bangla text-muted">
                        
                        
                        <h6 class="py-2 text-center float-lg-end pe-2">পরিকল্পনা ও বাস্তবায়নেঃ মোঃ আমির হামজা</h6>
                        
                    </div>
                </div>
            </div>
        </div>
       </div>

    </footer>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>