{% extends 'institute/base.html' %} 
{% load static %} 
{% block title %}
<title>Speach</title>
{% endblock title %} 

<!-- left side main things start from here -->
{% block leftside %} 

      <!-- student short info start -->
<div class="row">
    <div class="container-fluid">
    <div class="container-fluid">
      <div class="bg-success pt-3 ps-2 pb-1 ">
        <h5 class="text-white bangla">অধ্যক্ষের বাণী</h5>
      </div>
      <div class="bg-light border mt-1 py-2 text-center bangla">
        <img class="mb-3" src="{{speach.picture.url}}" width="250px" alt="">
        <div class="container-fluid">
            <p style="text-align: justify" class="">{{speach.speach}}</p>
            <h5 class=" text-start">{{speach.name}}</h5>
            <h5 class=" text-start">{{speach.designation}}</h5>
       </div>
    
            

            <!-- students info table by search end here -->
                <!-- student short info end -->
               

 
          <!-- Notice Table non-search end here -->
          
         <!-- Pagination starting start here -->
         
          <!-- Pagination end here -->
          
          <!-- Page Number show starting here -->
          
        <!-- Page Number show end here -->
        
        
      </div>
    </div>
  </div>
  {% endblock leftside %}
  {% block rightside %}

  {% endblock rightside %}





