{% extends 'institute/base.html' %} 
{% load static %} 
{% block title %}
<title>Students info</title>
{% endblock title %} 

<!-- left side main things start from here -->
{% block leftside %} 

      <!-- student short info start -->
<div class="row">
    <div class="container-fluid">
    <div class="container-fluid">
      <div class="bg-success pt-3 ps-2 pb-1 ">
        <h5 class="text-white bangla">ছাত্রছাত্রীর ডাটাবেজ</h5>
      </div>
      <div class="bg-light border mt-1 py-2 text-center bangla">
        <h4 class="text-start text-center ps-1">ছাত্রছাত্রীর ইনফরমেশন দেখতে নিচের অপশন বাছাই করুনঃ</h4>
        
        <!-- select menu start -->
        {% comment %} <div class="row">
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="container-fluid">
                  <label class="d-flex justify-content-start" for="select">শ্রেনী</label>
                <form action="" method="post">
                  {% csrf_token %}
                    <select class=" form-select mb-1" name="students_search1" id="">
                      <option value="six" selected>Six</option>
                      <option value="seven">Seven</option>
                      <option value="eight">Eight</option>
                      <option value="nine">Nine</option>
                      <option value="ten">Ten</option>
                    </select>
              </div>
            </div>
          <div class="col-12 col-lg-6 col-md-6 ">
            <div class="container-fluid">
              <label class="d-flex justify-content-start" for="select">সেশন</label>
                <select class=" form-select mb-1" name="students_search2" id="">
                  <option value="2022"selected>2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                </select>
            </div>
          </div>
        </div> {% endcomment %}


        <div class="container-fluid">
          <form action="" method="post" id="itemForm">
              {% csrf_token %}
              <div class="row mb-2">
                  <div class="col-md-6">
                      <label class="d-flex justify-content-start my-2" for="result3">শ্রেনী</label>
                        <select class="form-select" id="category" name="class_nm">
                            <option value="">Select</option>
                            {% for obj in classes %}
                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                            {% endfor %}
                        </select>
                  </div>
                  <div class="col-md-6">
                      <label class="d-flex justify-content-start my-2" for="result4">সেশন</label>
                      <select class="form-select" id="category" name="session">
                        <option value="">Select</option>
                        {% for obj in session %}
                            <option value="{{ obj.id }}">{{ obj.class_year }}</option>
                        {% endfor %}
                        </select>
                  </div>
              </div>




        <div class="container mb-1">
        <div class="d-grid gap-2">
          <input class="mb-2 btn btn-primary btn-block" type="submit" value="Show Students Informations">
          </div>
      </div>
      </form>

      <!-- select menu ends -->

       <!--  search start here -->
       <h4 class="text-start text-center ps-1">নাম এবং রোল দিয়ে সার্চ করতে পারেনঃ</h4>
        <div class="container-fluid mb-5">
            <form action="" method="POST">
              {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="search" name="students_search3" class="form-control" placeholder="Name and Roll">
                    <button type="submit"  class="btn btn-primary btn-sm">
                        <i class="bi bi-search"></i> Search
                    </button>
                </div>
            </form>
        </div>

    <!--  search end here -->
        
    
    <!-- students info table by select menu starting here -->
    {% if student_info %}
        {% if st == 'six' %}
        <div class="bg-dark text-white py-2">ষষ্ঠ শ্রেনীর ছাত্রছাত্রীর ইনফরমেশন</div>
        {% endif %}
        {% if st == 'seven' %}
        <div class="bg-dark text-white py-2">সপ্তম শ্রেনীর ছাত্রছাত্রীর ইনফরমেশন</div>
        {% endif %}
        {% if st == 'eight' %}
        <div class="bg-dark text-white py-2">অষ্টম শ্রেনীর ছাত্রছাত্রীর ইনফরমেশন</div>
        {% endif %}
        {% if st == 'nine' %}
        <div class="bg-dark text-white py-2">নবম শ্রেনীর ছাত্রছাত্রীর ইনফরমেশন</div>
        {% endif %}
        {% if st == 'ten' %}
        <div class="bg-dark text-white py-2">দশম শ্রেনীর ছাত্রছাত্রীর ইনফরমেশন</div>
        {% endif %}
        

        <div class="table-wrapper">
          <table  class="table table-bordered">
              <tr>
                  <th>শিক্ষার্থীর নাম</th>
                  <th>পিতার নাম</th>           
                  <th>রোল</th>            
                  <th>সেশন</th>
                  <th>শ্রেনী</th>
                  <th>বিস্তারিত</th>
                </tr>
                    {% for stinfos in student_info %}
                <tr>
                  <td>{{stinfos.name}}</td>            
                  <td>{{stinfos.father_name}}</td>                  
                  <td>{{stinfos.unique_roll}}</td>            
                  <td>{{stinfos.class_name.class_nm}}</td>            
                  <td>{{stinfos.class_name}}</td>            
                  <td><a class="btn btn-primary btn-sm" href="{% url 'students_details' stinfos.id %}">Details</a></td>          
                </tr>
                    {% endfor %}
          </table>
        </div>
            <!-- students info table by select end here -->


            <!-- students info table by search starting here -->
                    {% elif search  %}

          <div class="table-wrapper">
           <table class="table table-bordered">
              <tr>
                  <th>শিক্ষার্থীর নাম</th>
                  <th>পিতার নাম</th>           
                  <th>রোল</th>            
                  <th>সেশন</th>
                  <th>শ্রেনী</th>
                  <th>বিস্তারিত</th>
              </tr>
                {% for stinfo in search %}
              <tr>
                <td> {{stinfo.name|default_if_none:'-'}} </td>            
                <td>{{stinfo.father_name|default_if_none:'-'}}</td>            
                <td>{{stinfo.unique_roll|default_if_none:'-'}}</td>            
                <td>{{stinfo.class_name.class_nm|default_if_none:'-'}}</td>            
                <td>{{stinfo.class_name|default_if_none:'-'}}</td>            
                <td><a class="btn btn-primary btn-sm" href="{% url 'students_details' stinfo.id %}">Details</a></td>
              </tr>
                {% endfor %}
            </table>
          </div>
                {% else %}
                <div class="container">
                  <h4 class="py-2 alert alert-danger">No Data to show, First Select</h4>
                </div>
                {% endif %}

            <!-- students info table by search end here -->
                <!-- student short info end -->

            
            

          
     

 
          <!-- Notice Table non-search end here -->
          
         <!-- Pagination starting start here -->
         
          <!-- Pagination end here -->
          
          <!-- Page Number show starting here -->
          
        <!-- Page Number show end here -->
        
        
      </div>
    </div>
  </div>
  {% endblock leftside %}
  {% block rightside %}

  {% endblock rightside %}

<!-- Pagination end here -->

<!-- amader dristi end -->

<!-- amader lokko start -->


<!-- amader lokko end -->

<!-- amader porichiti start -->

<!-- amader pirichiti end -->