{% extends 'institute/base.html' %} 
{% load static %} 
{% load widget_tweaks %}
{% block title %}
<title>Students Dashboard</title>
{% endblock title %} 

<!-- left side main things start from here -->
{% block leftside %} 
<style>
    body{
        margin-top:20px;
        background:#FAFAFA;
    }
    .order-card {
        color: #fff;
    }
    
    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }
    
    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }
    
    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }
    
    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }
    
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .card .card-block {
        padding: 25px;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <p class="alert bg-success text-light text-center">Student's Dashboard</p>
            <div class="card-body">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            {% if students %}
            <a style="text-decoration:none"  href="{% url 'students:students_subjects' students.id  %}"> 
                {% endif %}
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">All Subjects/Courses</h6>
                        <h2 class="text-right">Your subjects</h2>
                        <p class="m-b-0">-</span></p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <a style="text-decoration:none"  href="{% url 'students:students_specific_result' %}"> 
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                    <h6 class="m-b-20">My Result</h6>
                    <h2 class="text-right">Get Result</span></h2>
                    <p class="m-b-0">-<span class="f-right"></span></p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-md-4 col-xl-3">
            <a style="text-decoration:none"  href="{% url 'students:students_routine' %}"> 
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Class Routine</h6>
                    <h2 class="text-right">Your Routine</span></h2>
                    <p class="m-b-0">-</span></p>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4 col-xl-3">
            {% if students %}
            <a style="text-decoration:none"  href="{% url 'students:students_class_register' students.id %}">       
            {% endif %}
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Register For new class/Course</h6>
                    <h2 class="text-right">Register Now</h2>
                    <p class="m-b-0">-</span></p>
                </div>
            </div>
        </a>
        </div>
        
        {% comment %} <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Result</h6>
                    <h2 class="text-right"><i class="fa-solid fa-screen-users"></i><span>486</span></h2>
                    <p class="m-b-0">Total<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Result</h6>
                    <h2 class="text-right"><i class="fa-solid fa-screen-users"></i><span>486</span></h2>
                    <p class="m-b-0">Total<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Result</h6>
                    <h2 class="text-right"><i class="fa-solid fa-screen-users"></i><span>486</span></h2>
                    <p class="m-b-0">Total<span class="f-right">351</span></p>
                </div>
            </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock leftside %}
{% block rightside %}

{% endblock rightside %}